<ion-content [fullscreen]="true">
<!-- header-section -->
  <ion-list class="header-navbar">
    <div class="control-navbar">
      <ion-buttons slot="start">
        <ion-button>
          Darlene <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
  
      <ion-buttons slot="end">
        <ion-button shape="round" fill="solid" color="light">
          Edit
        </ion-button>
        <ion-button>
          <ion-icon name="menu-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-list>

  <!-- profile-img-section -->

  <ion-list class="img-main-container">
    <div class="image-inner-box">
      <div><img src="/assets/images/avatar2.jpg" alt="" srcset=""></div>
      <div><h2>Hamza Sheikh</h2></div>
      <div><p>hamza_sheikh</p></div>
    </div>

  </ion-list>









</ion-content>
