<ion-content [fullscreen]="true">
  <!-- Navbar-section -->
  <ion-list class="header-navbar">
    <div>
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
          <ion-badge color="light">3</ion-badge>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="chatbubble-ellipses-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-avatar slot="end" style="margin-top: 5px;">
        <img src="/assets/images/tom.jpg" />
      </ion-avatar>
    </div>
  </ion-list>
  <!-- Discovery-following-div -->
  <ion-list class="Discovery-following-div">
    <ion-list class="discovery-control-box">
      <div class="text">
        <p>Discovery</p>
      </div>
      <div class="text">
        <p style="color: gray;">Following</p>
      </div>
    </ion-list>
  </ion-list>

  <!-- Story-swiper-section -->
  <ion-list class="swiper-main-container" style="background-color: transparent;">
    <swiper-container class="ion-margin-top ion-margin" pagination="true" [breakpoints]="{
        '275': {
          'slidesPerView': 3,
          'spaceBetween': 10
        },
        '360': {
          'slidesPerView': 3,
          'spaceBetween': 10
        },
        '480': {
          'slidesPerView': 5,
          'spaceBetween': 10
        },
        '600': {
          'slidesPerView': 6,
          'spaceBetween': 10
        },
        '760': {
          'slidesPerView': 7,
          'spaceBetween': 10
        },
        '900': {
          'slidesPerView': 8,
          'spaceBetween': 10
        },
        '1100': {
          'slidesPerView': 10,
          'spaceBetween': 10
        },
        '1221': {
          'slidesPerView': 10,
          'spaceBetween': 15
        }
      }">
      <swiper-slide *ngFor="let slide of slides; let i = index" class="slide-div">
        <div class="image-container" [style.backgroundImage]="slide.image ? 'url(' + slide.image + ')' : 'none'">
          <ion-list class="icon-box">
            <ion-icon [name]="slide.icon"></ion-icon>
          </ion-list>
        </div>
      </swiper-slide>
    </swiper-container>
  </ion-list>

  <!-- Post-feed-section -->
  <ion-list class="post-feed-section">
    <ion-list class="post-inner-div">
      <div class="para-text">
        <p>Recently post</p>
      </div>
      <div class="icon-text"><ion-icon name="ellipsis-horizontal-outline"></ion-icon></div>
    </ion-list>
  </ion-list>

  <!-- User-feed-section -->
  <ion-list class="user-feed">
    <ion-grid>
      <ion-row>
        <ion-col size="12" sizeMd="12" sizeLg="6" sizeXl="6">
          <div class="col-1-container">
            <div class="feed-header-div">
              <div class="post">
                <div class="user-info">
                  <img src="/assets/images/avatar2.jpg" alt="User Avatar" class="avatar">
                  <div class="user-details">
                    <h2 class="username">Username</h2>
                    <p class="timestamp">Posted 3h ago</p>
                  </div>
                </div>
                <p class="content">Discover adventure in patagonia's peaks or serenity provence's -hamlets - arrival</p>
              </div>
            </div>

            <!-- img--container -->
            <ion-list class="feed-img-section">
              <div class="image-container">
                <img src="assets/images/player-holding-img.jpg" class="image img1" alt="Image 1">
              </div>
            </ion-list>
          </div>
        </ion-col>
        <!-- column-2 -->
        <ion-col size="12" sizeMd="12" sizeLg="6" sizeXl="6">
          <div class="col-1-container">
            <div class="feed-header-div">
              <div class="post">
                <div class="user-info">
                  <img src="/assets/images/img_avatar1.jpg" alt="User Avatar" class="avatar">
                  <div class="user-details">
                    <h2 class="username">Username</h2>
                    <p class="timestamp">Posted 3h ago</p>
                  </div>
                </div>
                <p class="content">Discover adventure in patagonia's peaks or serenity provence's -hamlets - arrival</p>
              </div>
            </div>
            <!-- img--container -->
            <ion-list class="feed-img-section">
              <div class="image-container">
                <img src="/assets/images/tom.jpg" class="image img1" alt="Image 1">
              </div>
            </ion-list>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>

<!-- footer-section -->

<ion-footer>
  <ion-list class="footer-control-div">
    <ion-list class="footer-main-container">

      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>
  
        <ion-tab-button tab="search">
          <ion-icon name="search-outline"></ion-icon>
        </ion-tab-button>
  
        <ion-tab-button tab="camera">
          <ion-icon name="camera-outline"></ion-icon>
        </ion-tab-button>
  
        <ion-tab-button tab="add-friend">
          <ion-icon name="person-add-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-list>
  
    <ion-list class="round-btn-container">
      <ion-icon name="add"></ion-icon>
    </ion-list>
  </ion-list>
</ion-footer>