<ion-content [fullscreen]="true">
  <!-- Navbar-section -->
  <ion-list class="header-navbar">
    <div>
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
          <ion-badge color="light">3</ion-badge>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="chatbubble-ellipses-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-avatar slot="end">
        <img src="/assets/images/tom.jpg" />
      </ion-avatar>
    </div>
  </ion-list>
  <!-- Discovery-following-div -->
   <ion-list class="Discovery-following-div">
    <ion-list class="discovery-control-box">
      <div class="text"><p>Discovery</p></div>
      <div class="text"><p style="color: gray;">Following</p></div>
    </ion-list>
   </ion-list>

   <!-- Story-swiper-section -->
    <ion-list class="swiper-main-container" style="background-color: transparent;">

    </ion-list>










</ion-content>
