<ion-content [fullscreen]="true">
  <!-- Navbar-section -->
  <ion-list class="header-navbar">
    <div>
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
          <ion-badge color="light">3</ion-badge>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="chatbubble-ellipses-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-avatar slot="end">
        <img src="/assets/images/tom.jpg" />
      </ion-avatar>
    </div>
  </ion-list>
  <!-- Discovery-following-div -->
  <ion-list class="Discovery-following-div">
    <ion-list class="discovery-control-box">
      <div class="text">
        <p>Discovery</p>
      </div>
      <div class="text">
        <p style="color: gray;">Following</p>
      </div>
    </ion-list>
  </ion-list>

  <!-- Story-swiper-section -->
  <ion-list class="swiper-main-container" style="background-color: transparent;">

    <swiper-container class="ion-margin-top ion-margin" pagination="true" [breakpoints]="{
        '275': {
          'slidesPerView': 2,
          'spaceBetween': 10
        },
        '360': {
          'slidesPerView': 3,
          'spaceBetween': 10
        },
        '480': {
          'slidesPerView': 4,
          'spaceBetween': 10
        },
        '600': {
          'slidesPerView': 5,
          'spaceBetween': 10
        },
        '760': {
          'slidesPerView': 6,
          'spaceBetween': 10
        },
        '900': {
          'slidesPerView': 8,
          'spaceBetween': 10
        },
        '1100': {
          'slidesPerView': 10,
          'spaceBetween': 10
        },
        '1221': {
          'slidesPerView': 10,
          'spaceBetween': 15
        }
      }">
    <swiper-slide *ngFor="let slide of slides; let i = index" class="slide-div">
      <div class="image-container" [style.backgroundImage]="slide.image ? 'url(' + slide.image + ')' : 'none'">
        <ion-list class="icon-box">
          <ion-icon [name]="slide.icon"></ion-icon>
        </ion-list>
      </div>
  </swiper-slide>
    </swiper-container>




  </ion-list>










</ion-content>